body,
html {
  margin: 0;
}

body {
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  margin: 80px auto;
  padding-bottom: 80px;
  width: 80%;
  max-width: 1200px;
}

.input-image {
  width: 100px;
  height: 100px;
}

input[type="file"]::file-selector-button,
.button {
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid lightgray;
  border-radius: 0.2em;
  background-color: white;
  color: black;
  transition: 0.5s;
  margin-bottom: 10px;
}

input[type="file"]::file-selector-button:hover,
.button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
}

.chess-board {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.white {
  height: 100px;
  width: 100px;
  background-color: black;
}

.black {
  height: 100px;
  width: 100px;
  background-color: white;
}
