body,
html {
  margin: 0;
}

body {
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Namdhinggo", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
}

.wrapper {
  margin: 80px auto;
  padding-bottom: 80px;
  width: 80%;
  max-width: 1200px;
}

.pieces-container {
  width: 100%;
  height: 830px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.piece-image {
  width: 100%;
  height: 100%;
}

.dead-piece-image {
  width: 100px;
  height: 100px;
}

.button {
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid lightgray;
  border-radius: 0.2em;
  background-color: white;
  color: black;
  transition: 0.5s;
  margin-bottom: 10px;
}

input[type="file"]::file-selector-button:hover,
.button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.chess-board {
  width: 830px;
  margin: 30px;
  display: grid;
  border-width: 15px;
  border-style: double;
  border-color: #384d48;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.white {
  height: 100px;
  width: 100px;
  background-color: white;
  color: #acad94;
}

.black {
  height: 100px;
  width: 100px;
  background-color: #acad94;
  color: white;
}

.selected.white {
  background-image: radial-gradient(circle 40px, #d6d7b9, white);
}

.selected.black {
  background-image: radial-gradient(circle 40px, #8a8a76, #acad94);
}

.highlighted-free.white {
  background-image: radial-gradient(circle 40px, #d6d7b9, white);
}

.highlighted-free.black {
  background-image: radial-gradient(circle 40px, #8a8a76, #acad94);
}

.highlighted-occupied.white {
  background-image: radial-gradient(circle 40px, #c68989, white);
}

.highlighted-occupied.black {
  background-image: radial-gradient(circle 40px, #c68989, #acad94);
}
